# Gitignore for the contents of the ollama and openwebui directories.

# The ollama directory holds the Ollama model data, which is way too 
# large (and too fast-moving) to store in git.

ollama/*

# The openwebui directory holds the web UI data, which is also too
# large to store in git.

openwebui/*

# Searxng doesn't seem to store anything in its directory, so there's
# no reason to ignore the contents of it.

